<?xml version="1.0"?>
<!--
/**
 * Created by Samuel.Kong@leximit.com
 * Date: Nov 14 2016
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- Override block -->
    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Lexim\Override\Block\Toolbar" />
    <!-- Override Model -->
    <preference for="Magento\Catalog\Model\Config\Source\ListSort" type="Lexim\Override\Model\CatalogModelConfigSourceListSort" />
    <preference for="Magento\Customer\Model\AccountManagement" type="Lexim\Override\Model\AccountManagement" />
    <preference for="Magento\Fedex\Model\Carrier" type="Lexim\Override\Model\FedexModelCarrier" />

    <!-- Define plugin -->
    <type name="Magento\Catalog\Model\Config">
        <plugin name="" type="\Lexim\Override\Plugin\sortByCreateDate" />
    </type>

    <!-- Override Controller -->
    <preference for="Magento\Customer\Controller\Account\CreatePost" type="Lexim\Override\Controller\Account\CreatePost" />

</config>