/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.gitattributes
/app/config_sandbox
/app/code/Magento/TestModule*
/node_modules
/.grunt

/pub/errors
/pub/opt
/pub/static
/pub/*.*
/pub/media/*
!/pub/media/images
!/pub/js

/app/*.*
/app/etc
/app/design/adminhtml

LICENSE
/bin
/dev
/phpserver
/var
/vendor
/setup
/*.*
.htaccess
!.gitignore
update
/sqldb

/app/code/MagePsycho
/app/code/LitExtension