<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="sales_quote_save_after">
        <observer name="admin_add_item_to_quote" instance="FME\Pricecalculator\Observer\AdminAddItemToQuote" />
    </event>
    
</config>