/************************** PRODUCT DETAIL ******************************/
.tabsWrapper2 a {
    display: block;
    float: left;
    margin: 10px 20px;
}
/************************** PRODUCT DETAIL ******************************/
.material_02, .material_03, .material_04, .material_05, .material_06, .lamination_options, .grommet_options, .lamination_options_02, .diecut_options,
.round_corners_options, .color_options, .frame_options, .thickness_options, .thickness_options_02, .thickness_options_03, .thickness_options_04,
.hstake_options, .size_options, .size_options_02, .standtype_options, .carmodel, .carwrapping, .product_options, .color_options_02, .finish_options_02,
.note_options, .delivery_options {
    display: none ;
}
.material_02.active, .material_03.active, .material_04.active, .material_05.active, .material_06.active, .grommet_options.active, .lamination_options.active,
.lamination_options_02.active, .diecut_options.active, .round_corners_options.active, .color_options.active, .frame_options.active,
.thickness_options.active, .thickness_options_02.active, .thickness_options_03.active, .thickness_options_04.active, .hstake_options.active,
.size_options.active, .size_options_02.active, .standtype_options.active, .carmodel.active, .carwrapping.active, .product_options.active,
.color_options_02.active, .finish_options_02.active, .note_options.active, .delivery_options.active {
    display: block ;
}
@media only screen and (min-width: 1050px) {
    .lamination_options, .finishing_options {
        height: 80px;
    }
}

/************************** REGISTER PAGE ******************************/
#seller_permit_upload {
    width: 100%;
}
/************************** FAQ PAGE ******************************/
.faq-question {
	margin: 15px 0;
	font-size: 16px;
}
.faq-answer {
	padding: 15px;
	background: #eee;
	font-size: 16px;
}
.faq-section-02 .faq-answer {
	margin: 0 -25px;
}
.faq-column {
	background: #1da1ad;
}
.faq-column-center, .faq-column-center .custom-title {
	background: #1a919c;
}
.faq-column-contain {
	padding: 15px;
}
.faq-column .faq-question a, .faq-column-center .faq-question a {
	color: #fff;
}
.faq_question_second, .faq-column .faq-question a:hover, .faq-column-center .faq-question a:hover {
	color: #ed5621 !important;
}