.page-title-wrapper {
    display: none;
}

.catalog-product-view .tabContentWrap {
    padding: 10px;
}

/************************** FOOTER ******************************/
#tradeFooter {
    position: relative;
    background: #1a1a1a;
}

.footer-content {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #949494;
}

.footer-header {
    color: #1ca1ac;
    font-weight: bold;
}

.footer-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-detail {
    padding-top: 5px;
    padding-bottom: 10px;
}

.footer-detail img {
    padding-right: 10px;
}

.footer-detail p {
    font-weight: bold;
    margin-bottom: 0;
}

.footer-detail a {
    color: #aaa;
}

.rated p {
    font-weight: normal;
}

.footer-copyright {
    width: 100%;
    height: 50px;
    background: #161616;
    color: #949494;
}

.copyright-text {
    height: 50px;
    display: flex;
    align-items: center;
}

.button-to-top {
    position: fixed;
    z-index: 99;
}

@media screen and (max-width: 719px) {
    .button-to-top {
        bottom: 15%;
        right: 5px;
    }
}

@media screen and (min-width: 720px) and (max-width: 1049px) {
    .button-to-top {
        bottom: 35px;
        right: 15px;
    }
}

@media screen and (min-width: 1050px) {
    .button-to-top {
        bottom: 39px;
    	right: 287px;
    }
}

.footer-header img {
    width: 100%;
    height: 1px;
}

/************************** HEADER ******************************/
.page-header .wrapper {
    background: #f05624;
}

.page-header .links a {
    color: #fff;
}

#topRightInfo .tri-item a {
    color: #fff;
}

.header-cross {
    padding-right: 20px;
    font-size: 15px;
}

/************************** REGISTER PAGE ******************************/
.login-container {
    display: none;
}

#form-validate {
    width: 100%;
    min-width: 10%;
    max-width: 100%;
}

.customer-account-login .action.primary {
    background: #1ca1ac;
    border-radius: 0;
    padding: 10px 30px;
}

.customer-account-login .legend {
    margin-left: 0;
    border-bottom: #1ca1ac 1px solid;
    padding: 8px 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.customer-account-login .fieldset {
    margin: 0;
}

.customer-account-login .note {
    color: #949494;
}

.customer-account-login .fieldset .field .label {
    text-align: left;
    padding: 8px 0;
    font-weight: normal;
    width: 100%;
}

.customer-account-login .fieldset .field .control {
    width: 100%;
}

.customer-account-login .fieldset input {
    height: 40px;
}

.customer-account-login .fieldset input[type="checkbox"] {
    height: auto;
}

.customer-account-login .fieldset > .field {
    margin: 0;
}

.customer-account-login .column:not(.sidebar-main) form .actions-toolbar {
    margin-left: 0;
}

.customer-account-login .actions-toolbar > .primary {
    float: right;
}

.customer-account-login .actions-toolbar > .secondary {
    float: left;
}

.customer-account-login .fieldset > .field {
    margin: 8px 0;
}

.customer-account-login .fieldset > .field:before {
    width: 0;
    padding: 0;
}

.login-register-title {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
}

@media screen and (min-width: 720px) {
    .form.create.account, .block-customer-login {
        width: 80% !important;
    }
}

/************************** LOGIN PAGE ******************************/
.action.primary {
    background: #1ca1ac;
    border-radius: 0;
    border: none;
    font-weight: normal;
}

.action.primary:hover {
    background: #1ca1ac;
    border: none;
}

.action.primary:active {
    background: #1ca1ac;
    border: none;
}

.block-customer-login .legend {
    font-size: 16px;
}

.block-customer-login .actions-toolbar .secondary {
    padding-right: 115px;
}

/************************** CONTACT US PAGE ******************************/
#map {
    height: 500px;
    width: 100%;
    position: absolute;
    left: 0;
}

.contact-index-index .contact {
    padding: 550px 0 0;
}

.contact-info {
    color: #949494;
}

.contact-index-index input {
    height: 40px;
    margin: 15px 0 5px;
}

.contact-index-index textarea {
    height: 250px;
    margin: 15px 0;
}

@media screen and (min-width: 960px) {
    .contact-index-index input {
        width: 260px;
    }

    .contact-index-index textarea {
        width: 420px;
    }
}

.contact-index-index .action.primary {
    width: 260px;
    height: 40px;
    margin: 15px 0;
}

.contact-index-index .column:not(.sidebar-main) form .actions-toolbar {
    margin-left: 0;
}

.contact-note {
    color: #949494;
    margin-bottom: 60px;
}

/************************** RECENT NEWS PAGE ******************************/
.blog-post-view .post-info {
    padding: 15px !important;
}

.post-categories, .dash, .post-posed-date .label {
    display: none;
}

.post-holder {
    padding: 0;
}

.post-news-content {
    padding: 0 20px 20px;
    color: #949494;
    text-align: center;
    font-size: 14px;
}

.post-news-content .post-title {
    font-size: 22px;
}

.post-news-content .post-item-link {
    color: #949494;
}

.blog-index-index .post-posed-date, .blog-category-view .post-posed-date {
    position: absolute;
    transform: translate(18%, -120%);
    width: 70px;
    background: #000;
    color: #fff;
    opacity: 0.4;
    font-size: 20px;
    line-height: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.page-layout-2columns-right .column.main {
    width: 100%;
}

.news-detail-button {
    margin: auto;
    text-align: center;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c9c9c9;
}

.post-read-more {
    display: block;
    margin: 20px auto 0;
    float: none;
    background: #ccc;
    width: 100px;
    padding: 10px 0;
    color: #fff !important;
    text-decoration: none !important;
}

.page-layout-2columns-right .sidebar-additional {
    width: 100%;
    padding-left: 0;
    float: left;
    border-bottom: 1px #f5f5f5 solid;
}

.sidebar-additional .block-title {
    display: none;
}

.widget.block-categories ul {
    margin: 0;
}

#accordion-2 li {
    width: 25%;
    float: left;
    margin: 0;
    list-style-type: none;
}

@media screen and (max-width: 400px) {
    #accordion-2 li {
        width: 50%;
    }
}

#accordion-2 li a {
    color: #949494;
    font-size: 18px;
}

.post-list-wrapper img {
    width: 100%;
}

.post-list-wrapper .inner {
    background: #fafafa;
    margin: 0 0 20px;
}

/*** BUTTON SEARCH ***/
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1ca1ac;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: #1ca1ac;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #1ca1ac;
}

.switch input:checked + .slider:before {
    -moz-transform: translateX(26px);
    -o-transform: translateX(26px);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.search-bar-news {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 0 50px;
}

.search-bar-news > span {
    color: #949494;
    font-size: 16px;
    padding: 0 10px;
}

@media only screen and (max-width: 460px) {
    .search-bar-news > span {
        font-size: 14px;
        padding: 0 3px;
    }
}

/************************** CUSTOM ESTIMATE ******************************/
.estimate-group {
    padding: 20px 0;
    border-bottom: 1px #949494 solid;
}

.estimate-group input, .estimate-group select {
    height: 40px;
    margin: 10px 0;
}

.estimate-group textarea {
    margin: 10px 0;
}

.estimate-group .custom-multi-option input {
    height: 12px;
    margin-left: 5%;
}

.estimate-group label {
    font-weight: bold;
}

.custom-title {
    font-size: 30px;
    height: 70px;
    margin-bottom: 30px;
    background: #1ca1ac;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-title .legend {
    margin: 0;
}

.custom-submit {
    margin-left: 0 !important;
}

.custom-submit button {
    height: 40px;
    width: 120px;
}

/************************** PRODUCT DETAIL ******************************/
.product-info-main .label {
    font-weight: bold;
}

#discount_price {
    font-weight: bold;
    text-transform: capitalize;
}

#leftMenuUl span.dropLeftMenu {
    width: 240px !important;
    height: 30px !important;
    position: absolute;
    text-align: right !important;
    z-index: 5;
}

@media screen and (min-width: 720px) and (max-width: 1000px) {
    #leftMenuUl span.dropLeftMenu {
        width: 140px !important;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1050px) {
    #leftMenuUl span.dropLeftMenu {
        width: 200px !important;
    }
}

/************************** CHECK OUT ******************************/
.checkout-index-index .fieldset > .field:not(.choice) > .control {
    width: 100%;
}

.checkout-index-index .fieldset > .field:not(.choice) > .label {
    width: 100%;
    text-align: left;
    padding: 5px 0;
    font-weight: bold !important;
}

@media screen and (min-width: 720px) {
    .checkout-index-index .iwd-opc-form-for-payments .fieldset .opc-payment .payment-method._active > .payment-method-content > form.form fieldset > div.number > label:before {
        top: 42px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }
}

@media screen and (max-width: 719px) {
    .checkout-index-index .iwd-opc-form-for-payments .fieldset .opc-payment .payment-method._active > .payment-method-content > form.form fieldset > div.number > label:before {
        top: 67px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }
}

@media screen and (min-width: 720px) {
    .checkout-index-index .iwd-opc-form-for-payments .fieldset .opc-payment .payment-method._active > .payment-method-content > form.form fieldset > div.cvv > label:before {
        top: 41px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }
}

@media screen and (max-width: 719px) {
    .checkout-index-index .iwd-opc-form-for-payments .fieldset .opc-payment .payment-method._active > .payment-method-content > form.form fieldset > div.cvv > label:before {
        top: 47px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }
}

.checkout-index-index .checkout-payment-method .ccard.fieldset > .field .fields.group.group-2 .field {
    width: 50% !important;
}

.checkout-index-index .checkout-payment-method .ccard .month .select {
    width: 100%;
}

.checkout-index-index .checkout-payment-method .ccard .year .select {
    width: 100%;
}

.checkout-index-index .iwd-opc-form-for-payments .fieldset .opc-payment .payment-method._active > .payment-method-content > form.form .field.number.required > label {
    margin-top: 0;
    padding: 5px 0;
    font-weight: bold;
}

/************************** PRODUCT DETAIL ******************************/
/* Style the list */
#tab-description-review {
    width: 100%;
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.descriptionBlock, .sliderDPWrapper {
    border-top: none !important;
}

/* Float the list items side by side */
#tab-description-review li {
    float: left;
}

/* Style the links inside the list items */
#tab-description-review li {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    transition: 0.3s;
}

/* Change background color of links on hover */
#tab-description-review li:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
#tab-description-review li:focus, #tab-description-review li.active {
    background-color: #ddd;
}

/* Style the tab content */
#tabDescriptions, #tabReviews {
    padding: 6px 12px;
    border: 1px solid #ccc;
}

#tabReviews {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

/************************** CHANGE LEFT MENU HOME PAGE ******************************/