.page-title-wrapper {
    display: none;
}
/************************** FOOTER ******************************/
#tradeFooter {
    position: relative;
    background: #1a1a1a;
}
.footer-content {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #949494;
}
.footer-header {
    color: #1ca1ac;
    font-weight: bold;
}
.footer-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-logo > img {
    width: 40%;
}

.footer-detail {
    padding-top: 5px;
    padding-bottom: 10px;
}
.footer-detail img {
    padding-right: 10px;
}
.footer-detail p {
    font-weight: bold;
    margin-bottom: 0;
}
.rated p{
    font-weight: normal;
}
.footer-copyright {
    width: 100%;
    height: 50px;
    background: #161616;
    color: #949494;
}
.copyright-text {
    height: 50px;
    display: flex;
    align-items: center;
}
.button-to-top {
    position: fixed;
    bottom: 10px;
    right: 10%;
    z-index: 99;
}

.footer-header img {
    width: 100%;
    height: 1px;
}

/************************** HEADER ******************************/
.page-header .wrapper {
    background: #f05624;
}
.page-header .links a {
    color: #fff;
}
/************************** REGISTER PAGE ******************************/
.customer-account-create .action.primary {
    background: #1ca1ac;
    border-radius: 0;
    padding: 10px 30px;
}
.customer-account-create .legend {
    margin-left: 0;
    border-bottom: #1ca1ac 1px solid;
    padding: 8px 0;
    margin-bottom: 10px;
    font-size: 16px;
}
.customer-account-create .fieldset
{
    margin: 0;
}
.customer-account-create .note {
    color: #949494;
}
.customer-account-create .fieldset > .field:not(.choice) > .label {
    text-align: left;
    float: none;
    padding: 8px 0;
    font-weight: normal;
}
.customer-account-create .fieldset > .field:not(.choice) > .control {
    float: none;
    width: 400px;
}
.customer-account-create .fieldset > .field:not(.choice) > .control > input{
    height: 40px;
}
.customer-account-create .fieldset > .field {
    margin: 0;
}
.customer-account-create .column:not(.sidebar-main) form .actions-toolbar {
    width: 400px;
    margin-left: 0;
}
.customer-account-create .actions-toolbar > .primary {
    float: right;
}
.customer-account-create .actions-toolbar > .secondary {
    float: left;
}
.customer-account-create .actions-toolbar > .primary .action:last-child {
    margin: 25px 0 125px 0;
}
.customer-account-create .fieldset > .field {
    margin: 8px 0;
}
.customer-account-create .fieldset > .field:before {
    width: 0;
    padding: 0;
}
.login-register-title {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
}
/************************** LOGIN PAGE ******************************/
.action.primary {
    background: #1ca1ac;
    border-radius: 0;
    border: none;
    font-weight: normal;
}
.action.primary:hover {
    background: #1ca1ac;
    border: none;
}
.action.primary:active {
    background: #1ca1ac;
    border: none;
}
.block-customer-login .legend {
    font-size: 16px;
}
.block-customer-login .actions-toolbar .secondary {
    padding-right: 115px;
}
/************************** CONTACT US PAGE ******************************/
#map {
    height: 500px;
    width: 100%;
    position: absolute;
    left: 0;
}
.contact-index-index .contact {
    padding: 550px 0 0;
}
.contact-info {
    color: #949494;
}
.contact-index-index input {
    width: 260px;
    height: 40px;
    margin: 15px 0 5px;
}
.contact-index-index textarea {
    width: 420px;
    height: 250px;
    margin: 15px 0;
}
.contact-index-index .action.primary {
    width: 260px;
    height: 40px;
    margin: 15px 0;
}
.contact-index-index .column:not(.sidebar-main) form .actions-toolbar {
    margin-left: 0;
}
.contact-note {
    color: #949494;
    margin-bottom: 60px;
}
/************************** RECENT NEWS PAGE ******************************/
.blog-index-index .post-categories, .blog-index-index .dash, .blog-index-index .post-posed-date .label {
    display: none;
}
.blog-index-index .post-holder {
    height: 650px;
    padding: 0;
}
.blog-index-index .post-news-content {
    padding: 0 20px 40px;
    color: #949494;
    text-align: center;
    font-size: 18px;
}
.blog-index-index .post-news-content .post-title {
    font-size: 22px;
}
.blog-index-index .post-news-content .post-item-link {
    color: #949494;
}
.blog-index-index .column.main {
    width: 100%;
}
.blog-index-index .news-detail-button {
    margin: auto;
    text-align: center;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c9c9c9;
}
.blog-index-index .news-detail-button .post-read-more {
    float: none;
    padding: 0;
    color: #ffffff;
}