/************************** Footer ******************************/
#tradeFooter {
    position: relative;
    background: #1a1a1a;
}
.footer-content {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #949494;
}
.footer-header {
    color: #1ca1ac;
    font-weight: bold;
}
.footer-logo {
    padding-top: 10px;
}
.footer-logo > img {
    width: 50%;
}

.footer-detail {
    padding-top: 15px;
}
.footer-detail img {
    padding-right: 10px;
}
.footer-detail p {
    font-weight: bold;
    margin-bottom: 0;
}
.rated p{
    font-weight: normal;
}
.footer-copyright {
    width: 100%;
    height: 50px;
    background: #161616;
    color: #949494;
}
.copyright-text {
    height: 50px;
    display: flex;
    align-items: center;
}
.button-to-top {
    position: fixed;
    bottom: 10px;
    right: 15%;
    z-index: 99;
}