a, .alink {
    color: #008994;
    text-decoration: none;
}

a:visited, .alink:visited {
    color: #ed5621;
    text-decoration: none;
}

a:active, a:hover {
    color: #ed5621;
    text-decoration: none;
}