.pad5 { padding-bottom: 5px }
.pad10 { padding-bottom: 10px }
.pad15 { padding-bottom: 15px }
.pad20 { padding-bottom: 20px }
.pad25 { padding-bottom: 25px }
.pad30 { padding-bottom: 30px }
.pad40 { padding-bottom: 40px }
.pad50 { padding-bottom: 50px }
.pad70 { padding-bottom: 70px }
.pad100 { padding-bottom: 100px }

.img-resp {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #ccc;
}

.img-resp img {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto;
}

.img100 {
    padding-bottom: 100%;
}

/* Layout */
.page-layout-2columns-left .sidebar-main {
    width: 25%;
}
.page-layout-2columns-left .column.main {
    width: 75%;
}
/* # Layout */

/* Home */
#topContentHome {
    background: #1da1ad;
    margin: 0 !important;
}

#topContentHome .odd .img {
    background: rgba(0, 0, 0, 0.1);
}

#topContentHome .even {
    background: rgba(0, 0, 0, 0.1);
}

#topContentHome .even .img {
    background: #1da1ad;
}

#topContentHome .img {
    display: block;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 30px auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#topContentHome .img img {
    width: 80%;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#topContentHome .tit {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

#topContentHome .tit:after {
    width: 30%;
    max-width: 70px;
    content: "";
    height: 3px;
    background: #fff;
    display: block;
    margin: 10px auto 15px;
    clear: both;
}

#topContentHome .sum {
    color: #fff;
    text-align: center;
}

/* Promotion */

#promotionHome .tit {
    color: #999;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

#promotionHome .sum {
    color: #999;
    text-align: center;
    margin: 0;
    padding: 0 0 25px;
}

#promotionHome a {
    text-decoration: none;
}

#promotionHome .promoHomeBt {
    background: #f3f3f3;
    color: #b3b3b3;
    padding: 15px 0;
    text-align: center;
    width: 70%;
    max-width: 200px;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#promotionHome .promoHomeBt:hover {
    color: #fff;
    background: #1da1ad;
}

/* Recent product */
.recent-head {
    text-align: center;
    font-size: 40px;
    color: #474747;
    line-height: normal;
    margin: 0;
    padding: 15px 0 0;
    position: relative;
}

.recent-tit {
    text-align: center;
    color: #474747;
    font-size: 20px;
}

.recent-head:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100px;
    height: 5px;
    background: #474747;
    margin: auto;
}
.recent-list {
    margin-left: -7px;
    margin-right: -7px;
}
.left-recent {
    width: 60%;
    float: left;
    padding: 0 7px;
}
.right-recent {
    position: relative;
    width: 40%;
    float: left;
    padding: 0;
}

.right-rc-item {
    width:100%;
}

.rc-item {
    position: relative;
    width: 50%;
    padding: 0 7px 15px;
    float: left;
}

.rc-item .main-bt {
    margin: 0 auto;
}

.rc-item .main-bt span {
    margin: 0 auto;
}

.rc-item .tit {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #999;
}

.main-rc-info {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
}

.main-rc-info > span {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 24px;
    color: #fff;
}

.main-rc-info > a {
    color: #fff;
    text-align: center;
    display: block;
    width: 100px;
    border: 1px solid #fff;
    margin: 10px auto 20%;
    padding: 10px 0;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

/* # Recent Product */

/* left Home Menu */
#leftHomeMenu, #leftHomeMenu ul, #leftHomeMenu li {
    padding: 0;
    list-style: none;
    margin: 0;
}

#leftHomeMenu li > a {
    text-decoration: none;
    color: #bbb;
}

#leftHomeMenu li > a:hover {
    color: #ed5621;
}

#leftHomeMenu li > a > span {
    width: 100%;
    display: block;
    padding: 15px 20px;
}

#leftHomeMenu > li.parent > a > span {
    background: #efefef;
    text-align: center;
    color: #ed5621;
    padding: 20px 0;
    font-weight: bold;
}

#leftHomeMenu .submenu > li {
    padding: 0;
    background: #fafafa;
    margin: 0;
    border-bottom: 2px dotted #bbb;
}

#leftHomeMenu .submenu > li:last-child {
    border: none;
}

/* Header */
.header2.content3 {
    padding-top: 20px;
}

.panel2.header2 {
    text-align: right;
    line-height: 50px;
}

.header.links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.header.links li {
    display: inline-block;
    padding: 0 0 0 20px;
    margin: 0;
}

#topRightInfo {
    display: inline-block;
}

.tri-item {
    display: inline-block;
    padding: 0 0 0 20px;
}

.tri-item span {
    color: #fff;
}

.logo {
    margin: 0;
}

/* upload link */
#uploadTopMenu {
    float: right;
    position: relative;
    z-index: 40;
}

.main-bt span {
    width: 100px;
    height: 40px;
    background: #ededed;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #999;
}

.main-bt > a {
    text-decoration: none;
}

.main-bt > a:hover > span {
    color: #fff;
    background: #1da1ad;
}

    /* Mini cart */
#minicart-header {
    z-index: 40;
}

#minicart-header .action.showcart:before {
    width: 40px;
    height: 35px;
    -webkit-font-smoothing: antialiased;
    line-height: 33px;
    color: #8f8f8f;
    content: '';
    background: url(/pub/media/images/header/icon-cart.png) no-repeat center ;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

#minicart-header .action.showcart .counter.qty {
    background: #fff;
    color: #555;
    margin: 13px 0 0;
}

    /* Search */
#topSearchWrap {
    cursor: pointer;
    width: 50px;
    height: 40px;
    background: url('/pub/media/images/header/icon-search.png') no-repeat 100% 50%;
}

#topSearchWrap > .block-content {
    position: absolute;
    display: none;
    top: 40px;
    right: 0;
}

#search {
    width: 260px;
}

#topSearchWrap:hover > .block-content {
    display: block;
}

    /* Top Menu */
#topMenuNav {
    display: block;
    position: relative;
}

#topMenuNav > ul {
    padding: 0;
    margin: 0;
}

#topMenuNav > ul > li {
    display: inline-block;
}

#topMenuNav > ul > li > a {
    color: #555;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

#topMenuNav > ul > li:hover > a {
    color: #000;
}

#topMegaMenu {
    display: none;
    position: absolute;
    z-index: 9;
    background: #fff;
    width: 100%;
    margin: 0;
    top: 50px;
    left: 0;
    padding: 0 10px 20px;
    border: 1px solid #eee;
}

#topMenuNav > ul > li:hover > ul {
    display: block;
}

#topMegaMenu ul {
    margin: 0;
    padding: 0;
}

#topMegaMenu li {
    border-bottom: 2px dotted #bbb;
    padding: 10px 0;
}

#topMegaMenu > li {
    width: 20%;
    float: left;
    padding: 10px;
    border: none;
}

#topMegaMenu > li:nth-child(5n+1) {
    clear: both;
}

#topMegaMenu > li > a {
    color: #ed5621;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    display: block;
}

#topMegaMenu > li li {
    position: relative;
    border-bottom: 2px dotted #bbb;
    padding: 10px 0 10px 20px;
    margin: 0;
    color: #bbb;
}

#topMegaMenu > li li.first {
    border-top: 2px dotted #bbb;
}

#topMegaMenu > li li:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -4px;
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #999;
    border-radius: 50%;
}

#topMegaMenu > li li > a {
    display: block;
    color: #bbb;
    padding: 0;
    width: 100%;
}
    /* # Top Menu */
/* # Header */

/* Product List page */

    /* left Menu - category page */
.titleLeftSidebar {
    padding: 7px 15px;
    border-bottom: 3px solid #313131;
    font-size: 18px;
    font-weight: bold;
}

#leftMenuUl {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #ececec;
}

#leftMenuUl ul {
    padding: 5px 0 0 20px;
    list-style: none;
    clear: both;
}

#leftMenuUl ul.submenu {
    display: none;
}

#leftMenuUl li {
    list-style: none;
    clear: both;
    padding: 8px 0;
    margin: 0;
    overflow: hidden;
}

#leftMenuUl > li {
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
}

#leftMenuUl a {
    max-width: calc(100% - 40px);
    float: left;
    text-transform: uppercase;
    color: #474747;
    text-decoration: none;
}

#leftMenuUl a:hover {
    color: #ff5f2b;
}

#leftMenuUl li.active > a {
    color: #ff5f2b;
}

#leftMenuUl li.has-active > ul.submenu {
    display: block;
}

#leftMenuUl span.dropLeftMenu {
    display: inline-block;
    width: 20px;
    height: 16px;
    color: #000;
    font-size: 30px;
    line-height: 14px;
    float: right;
    cursor: pointer;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    #leftMenuUl li.has-active > ul.submenu {
        display: none;
    }

    .page-layout-2columns-left .sidebar-main {
        width: 100%;
        padding: 0;
    }

    #leftMenuUl {
        background: #e1e1e1;
    }

    #leftMenuUl ul {
        padding: 0;
    }

    #leftMenuUl a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #leftMenuUl li {
        padding: 0;
        border-bottom: 1px solid #c2c2c2;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #leftMenuUl li.level1.parent ul.submenu {
        background: #474747;
    }

    #leftMenuUl li.level1.parent ul.submenu a {
        color: #fff;
    }

    #leftMenuUl li.level0 > a {
        padding-left: 15px;
    }

    #leftMenuUl li.level1 > a {
        padding-left: 30px;
    }

    #leftMenuUl li.level2 > a {
        padding-left: 45px;
    }

    #leftMenuUl li.level3 > a {
        padding-left: 60px;
    }

    #leftMenuUl li.last {
        border-bottom: none;
    }

    #leftMenuUl ul.level0.submenu {
        border-top: 1px solid #c2c2c2;
    }

    #leftMenuUl ul.level1.submenu ul.submenu {
        border-top: 1px solid #c2c2c2;
    }

    #leftMenuUl span.dropLeftMenu {
        margin: 7px 0 0 10px;
    }

    #leftMenuUl li.active > a {
        color: #ff5f2b !important;
    }
}

/* left Menu - category page */

/* # Product List page */