.pad5 { padding-bottom: 5px }
.pad10 { padding-bottom: 10px }
.pad15 { padding-bottom: 15px }
.pad20 { padding-bottom: 20px }
.pad25 { padding-bottom: 25px }
.pad30 { padding-bottom: 30px }
.pad40 { padding-bottom: 40px }
.pad50 { padding-bottom: 50px }
.pad70 { padding-bottom: 70px }
.pad100 { padding-bottom: 100px }

/* Home */
#topContentHome {
    background: #1da1ad;
    margin: 0 !important;
}

#topContentHome .odd .img {
    background: rgba(0, 0, 0, 0.1);
}

#topContentHome .even {
    background: rgba(0, 0, 0, 0.1);
}

#topContentHome .even .img {
    background: #1da1ad;
}

#topContentHome .img {
    display: block;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 30px auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#topContentHome .img img {
    width: 80%;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#topContentHome .tit {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

#topContentHome .tit:after {
    width: 30%;
    max-width: 70px;
    content: "";
    height: 3px;
    background: #fff;
    display: block;
    margin: 10px auto 15px;
    clear: both;
}

#topContentHome .sum {
    color: #fff;
    text-align: center;
}

/* Promotion */

#promotionHome .tit {
    color: #999;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

#promotionHome .sum {
    color: #999;
    text-align: center;
    margin: 0;
    padding: 0 0 25px;
}

#promotionHome a {
    text-decoration: none;
}

#promotionHome .promoHomeBt {
    background: #f3f3f3;
    color: #b3b3b3;
    padding: 15px 0;
    text-align: center;
    width: 70%;
    max-width: 200px;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#promotionHome .promoHomeBt:hover {
    color: #fff;
    background: #1da1ad;
}

/* left Home Menu */
#leftHomeMenu, #leftHomeMenu ul, #leftHomeMenu li {
    padding: 0;
    list-style: none;
    margin: 0;
}

#leftHomeMenu li > a {
    text-decoration: none;
    color: #bbb;
}

#leftHomeMenu li > a:hover {
    color: #ed5621;
}

#leftHomeMenu li > a > span {
    width: 100%;
    display: block;
    padding: 15px 20px;
}

#leftHomeMenu > li.parent > a > span {
    background: #efefef;
    text-align: center;
    color: #ed5621;
    padding: 20px 0;
    font-weight: bold;
}

#leftHomeMenu .submenu > li {
    padding: 0;
    background: #fafafa;
    margin: 0;
    border-bottom: 2px dotted #bbb;
}

#leftHomeMenu .submenu > li:last-child {
    border: none;
}

/* Header */
#uploadTopMenu {
    float: right;
}

#uploadTopMenu span {
    width: 100px;
    height: 40px;
    background: #ededed;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #999;
}

#uploadTopMenu > a {
    text-decoration: none;
}

#uploadTopMenu > a:hover > span {
    color: #fff;
    background: #1da1ad;
}

    /* Search */
#topSearchWrap {
    cursor: pointer;
    width: 50px;
    height: 40px;
    background: url('/pub/media/images/header/icon-search.png') no-repeat 100% 50%;
}

#topSearchWrap > .block-content {
    position: absolute;
    display: none;
    top: 40px;
    right: 0;
}

#search {
    width: 260px;
}

#topSearchWrap:hover > .block-content {
    display: block;
}

    /* Top Menu */
#topMenuNav {
    display: block;
}

#topMenuNav > ul {
    padding: 0;
    margin: 0;
}

#topMenuNav > ul > li {
    display: inline-block;
}

#topMenuNav > ul > li > a {
    color: #555;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

#topMenuNav > ul > li:hover > a {
    color: #000;
}

#topMegaMenu {
    display: none;
    position: absolute;
    z-index: 9;
    background: #fff;
    width: 100%;
    margin: 0;
    top: 70px;
    left: 0;
    padding: 0 10px 20px;
    border: 1px solid #eee;
}

#topMenuNav > ul > li:hover > ul {
    display: block;
}

#topMegaMenu ul {
    margin: 0;
    padding: 0;
}

#topMegaMenu li {
    border-bottom: 2px dotted #bbb;
    padding: 10px 0;
}

#topMegaMenu > li {
    width: 20%;
    float: left;
    padding: 10px;
    border: none;
}

#topMegaMenu > li:nth-child(5n+1) {
    clear: both;
}

#topMegaMenu > li > a {
    color: #ed5621;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    display: block;
}

#topMegaMenu > li li {
    position: relative;
    border-bottom: 2px dotted #bbb;
    padding: 10px 0 10px 20px;
    margin: 0;
    color: #bbb;
}

#topMegaMenu > li li.first {
    border-top: 2px dotted #bbb;
}

#topMegaMenu > li li:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -4px;
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #999;
    border-radius: 50%;
}

#topMegaMenu > li li > a {
    display: block;
    color: #bbb;
    padding: 0;
    width: 100%;
}

    /* # Top Menu */
/* # Header */