.pad5 {
    padding-bottom: 5px
}

.pad10 {
    padding-bottom: 10px
}

.pad15 {
    padding-bottom: 15px
}

.pad20 {
    padding-bottom: 20px
}

.pad25 {
    padding-bottom: 25px
}

.pad30 {
    padding-bottom: 30px
}

.pad40 {
    padding-bottom: 40px
}

.pad50 {
    padding-bottom: 50px
}

.pad70 {
    padding-bottom: 70px
}

.pad100 {
    padding-bottom: 100px
}

.img-resp {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #cccccc;
}

.img-resp img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto;
}

.img100 {
    padding-bottom: 100%;
}

p {
    margin: 0;
}

/* Layout */

#maincontent {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.page-layout-2columns-left .sidebar-main {
    width: 25%;
}

.page-layout-2columns-left .column.main {
    width: 75%;
}

/* # Layout */

/* breadcrumbs */
.breadcrumbs {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto 20px;
    max-width: 100%;
    background: #fcfcfc;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.breadcrumbs .items {
    margin: auto;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .breadcrumbs {
        padding: 15px 20px;
    }
}

@media only screen and (max-width: 767px) {
    .breadcrumbs {
        padding: 15px 10px;
    }
}

/* # breadcrumbs */

/* Home */
#topContentHome {
    background: #1da1ad;
    margin: 0 !important;
    display: table;
    width: 100%;
}

#topContentHome .item {
    display: table-cell;
    float: none;
    vertical-align: top;
    width: 25%;
    padding: 0;
}

.inner-wrap {
    padding: 20px 10px;
}

#topContentHome .odd .img {
    background: rgba(0, 0, 0, 0.1);
}

#topContentHome .even {
    background: rgba(0, 0, 0, 0.1);
}

#topContentHome .even .img {
    background: #1da1ad;
}

#topContentHome .img {
    display: block;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#topContentHome .img img {
    width: 80%;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#topContentHome .tit {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

#topContentHome .tit:after {
    width: 30%;
    max-width: 70px;
    content: "";
    height: 3px;
    background: #ffffff;
    display: block;
    margin: 10px auto 15px;
    clear: both;
}

#topContentHome .sum {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    #topContentHome .item {
        display: table-row;
        width: 100%;
        vertical-align: middle;
    }
}

/* Home Slider */
#bannerHS .item:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.btHomeSlider {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    z-index: 30;
}

.prevButtonWrap {
    left: 0;
}

.nextButtonWrap {
    right: 0;
}

.btHomeSlider > span {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    background: rgba(0, 0, 0, 0.3);
}

.btHomeSlider > span:after {
    content: '';
    color: #ffffff;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    position: relative;
    top: 14px;
}

.prevButtonWrap > span:after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 18px;
}

.nextButtonWrap > span:after {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 12px;
}

.innerHS {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #ffffff;
    z-index: 9;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.innerHS .titHS {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    line-height: normal;
}

/*.innerHS .sumHS {
    font-size: 16px;
    margin: 0;
    padding: 20px 0 40px;
}*/

a.clickHereHS {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 140px;
    background: #f05624;
    padding: 12px 0;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .innerHS .titHS {
        font-size: 24px;
    }
}

/* # Home Slider */

/* Promotion */

#promotionHome .tit {
    color: #999999;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

#promotionHome .sum {
    color: #999999;
    text-align: center;
    margin: 0;
    padding: 0 0 25px;
    height: 65px;
}

#promotionHome .sum p, #promotionHome .sum span {
    margin: 0;
}

#promotionHome a {
    text-decoration: none;
}

#promotionHome .promoHomeBt {
    background: #f3f3f3;
    color: #b3b3b3;
    padding: 15px 0;
    text-align: center;
    width: 70%;
    max-width: 200px;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#promotionHome .promoHomeBt:hover {
    color: #ffffff;
    background: #1da1ad;
}

#promotionHome img {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    #promotionHome .tit {
        padding: 10px 0;
    }

    #promotionHome .sum {
        padding: 0 0 10px;
    }

    #promotionHome .promoHomeBt {
        margin-bottom: 20px
    }
}

/* Recent product */
.recent-head {
    text-align: center;
    font-size: 40px;
    color: #474747;
    line-height: normal;
    margin: 0;
    padding: 15px 0 0;
    position: relative;
}

.recent-tit {
    text-align: center;
    color: #474747;
    font-size: 20px;
}

.recent-head:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100px;
    height: 5px;
    background: #474747;
    margin: auto;
}

.recent-list {
    margin-left: -7px;
    margin-right: -7px;
}

.left-recent {
    width: 60%;
    float: left;
    padding: 0 7px;
}

.right-recent {
    position: relative;
    width: 40%;
    float: left;
    padding: 0;
}

.right-rc-item {
    width: 100%;
}

.rc-item {
    position: relative;
    width: 50%;
    padding: 0 7px 15px;
    float: left;
}

.rc-item .main-bt {
    margin: 0 auto;
}

.rc-item .main-bt span {
    margin: 0 auto;
}

.rc-item .tit {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #999999;
}

.main-rc-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.main-rc-info > span {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 24px;
    color: #ffffff;
}

.main-rc-info > a {
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100px;
    border: 1px solid #ffffff;
    margin: 10px auto 20%;
    padding: 10px 0;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 767px) {
    .left-recent, .right-recent {
        width: 100%;
    }

    .right-rc-item {
        margin-bottom: 15px;
    }
}

/* # Recent Product */

/* left Home Menu */
#leftHomeMenu, #leftHomeMenu ul, #leftHomeMenu li {
    padding: 0;
    list-style: none;
    margin: 0;
}

#leftHomeMenu li:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}

#leftHomeMenu .categoryItem > a {
    background: #efefef;
    text-align: center;
    color: #f05624;
    padding: 16px 0;
    font-weight: bold;
    display: block;
    font-size: 18px;
}

#leftHomeMenu .categoryItem li {
    padding: 0;
    background: #fafafa;
    margin: 0;
    border-bottom: 2px dotted #bbbbbb;
}

#leftHomeMenu .categoryItem ul a {
    text-decoration: none;
    color: #bbbbbb;
    width: 100%;
    display: block;
    padding: 15px 20px;
}

#leftHomeMenu .categoryItem ul a:hover {
    color: #f05624;
}

#leftHomeMenu .categoryItem li:last-child {
    border: none;
}

/* Header */
.sections.nav-sections {
    display: none;
}

.page-header {
    border: none;
    margin: 0;
}

.header.content {
    width: 1180px;
    padding: 20px 0 0;
    margin: 0 auto;
}

.page-header .panel.header {
    text-align: right;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
    width: 1180px;
}

.header.links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.header.links li {
    display: inline-block;
    padding: 0 0 0 15px;
    margin: 0 !important;
}

#topRightInfo {
    display: inline-block;
    float: right;
}

.tri-item {
    display: inline-block;
    padding: 0 0 0 20px;
}

.tri-item span {
    color: #ffffff;
}

.logo {
    margin: 0;
}

.nav-toggle {
    display: none;
}

@media only screen and (max-width: 1199px) {
    .header.content, .page-header .panel.header {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* upload link */
#uploadTopMenu {
    float: right;
    position: relative;
    z-index: 40;
    padding: 0 10px 0 0;
}

.main-bt span {
    width: 100px;
    height: 40px;
    background: #ededed;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #999999;
}

.main-bt > a {
    text-decoration: none;
}

.main-bt > a:hover > span {
    color: #ffffff;
    background: #1da1ad;
}

/* Mini cart */
#minicart-header {
    z-index: 40;
    margin: 0;
}

#minicart-header .action.showcart:before {
    width: 40px;
    height: 35px;
    -webkit-font-smoothing: antialiased;
    line-height: 33px;
    color: #8f8f8f;
    content: '';
    background: url(/pub/media/images/header/icon-cart.png) no-repeat center;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    float: left;
}

#minicart-header .action.showcart .counter.qty {
    background: #ffffff;
    color: #f05624;
    margin: 11px 0 0;
    padding: 0;
    border-radius: 0;
    font-size: 14px;
    line-height: normal;
    float: left;
}

#minicart-header .action.showcart .text {
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 10px 0 0;
    font-size: 16px;
    float: left;
    color: #f05624;
}

.minicart-wrapper .block-minicart {
    width: 350px;
    right: 0;
    top: 45px;
    padding: 40px 15px 0;
    background: #ffffff;
    margin: 0;
}

.minicart-items-wrapper {
    border: none;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    height: auto !important;
}

#mini-cart .product-item {
    padding: 10px 0;
    border-top: 2px dotted #bbbbbb;
}

#mini-cart .product-item:last-child {
    border-bottom: 2px dotted #bbbbbb;
}

.block-minicart .items-total {
    float: left;
    margin: -30px 0 0;
    padding: 0 0 10px;
}

#mini-cart {
    height: 380px;
    overflow-y: scroll;
}

#mini-cart .product > .product-item-photo {
    width: 90px;
    float: left;
}

#mini-cart .product .product-image-photo {
    width: 100% !important;
    height: auto !important;
}

.minicart-items .product-item-details {
    padding-left: 100px;
}

.minicart-items .product-item-name a {
    color: #777777;
}

.minicart-items .product-item-name a:hover {
    color: #f05624;
}

.block-minicart .block-content > .actions > .primary {
    margin: 0 auto;
}

.block-minicart .subtitle.empty {
    padding: 0;
}

.block-minicart .subtotal {
    margin: 0;
    background: #f05624;
    overflow: hidden;
    padding: 15px 10px;
    color: #ffffff;
}

.block-minicart .subtotal .label {
    float: left;
}

.block-minicart .subtotal .price-container {
    float: right;
}

.block-minicart .block-content > .actions > .primary .action.primary {
    margin: 0;
}

.block-minicart .block-content > .actions {
    margin: 0;
}

#top-cart-btn-checkout {
    margin: 0;
}

.block-minicart .block-content > .actions.viewCart {
    background: #eeeeee;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0 0 15px;
}

.block-minicart .block-content > .actions.viewCart .action > span {
    width: 100%;
    display: block;
    padding: 15px 10px;
    font-size: 16px;
}

/* Search */
#topSearchWrap {
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 60;
    position: relative;
}

#clickTopSearchIcon {
    width: 40px;
    height: 40px;
    background: url('/pub/media/images/header/icon-search.png') no-repeat 100% 50%;
}

#topSearchWrap > .block-content {
    position: absolute;
    display: none;
    top: 40px;
    right: 0;
}

#topSearchWrap .control {
    border: none;
    clear: both;
    margin: 0;
    padding: 0;
}

#search {
    width: 260px;
    left: auto;
    right: 0;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1025px) {
    #topSearchWrap:hover > .block-content {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .minicart-wrapper .block-minicart {
        width: 300px;
        right: -50px;
    }
}

/* Top Menu */
#topMenuNav {
    display: block;
    position: relative;
}

#topMenuNav > ul {
    padding: 0;
    margin: 0;
}

#topMenuNav > ul > li {
    display: inline-block;
}

#topMenuNav > ul > li > a {
    color: #555555;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

#topMenuNav > ul > li:hover > a {
    color: #000000;
}

#topMegaMenu {
    display: none;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    width: 100%;
    margin: 0;
    top: 50px;
    left: 0;
    padding: 0 10px 20px;
    border: 1px solid #eeeeee;
}

#topMegaMenu ul {
    margin: 0;
    padding: 0;
}

#topMegaMenu > li {
    position: relative;
    width: 20%;
    float: left;
    padding: 10px;
    border: none;
}

#topMegaMenu > li:nth-child(5n+1) {
    clear: both;
}

#topMegaMenu > li > a {
    color: #f05624;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    display: block;
}

#topMegaMenu > li li {
    position: relative;
    border-top: 2px dotted #bbbbbb;
    padding: 10px 0 10px 20px;
    margin: 0;
    color: #bbbbbb;
}

#topMegaMenu > li li:first-child {
    border-top: 2px dotted #bbbbbb;
}

#topMegaMenu > li li:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -4px;
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #999999;
    border-radius: 50%;
}

#topMegaMenu > li li:hover:before {
    border-color: #f05624;
}

#topMegaMenu > li li > a {
    display: block;
    color: #5d5d5d;
    padding: 0;
    width: 100%;
}

#topMegaMenu > li li:hover > a {
    color: #f05624;
}

@media only screen and (min-width: 768px) {
    #topMenuNav > ul > li:hover > ul {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    #topMenuNav {
        clear: both;
        position: absolute;
        top: 180px;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: #f3f3f3;
        display: none;
    }

    .logo {
        clear: both;
        margin: 0 auto;
    }

    #topSearchWrap {
        clear: both;
        float: right;
    }

    .logo {
        clear: both;
        margin: 0 auto;
        float: none;
    }

    .logo img {
        margin: 10px auto;
        max-height: 100px;
        width: auto !important;
    }

    .header2.content3 {
        padding-top: 0
    }

    #menuIcon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        float: left;
    }

    #menuIcon > div {
        width: 35px;
        height: 5px;
        background: #000000;
        margin: 6px 0;
    }

    #menuIcon:hover > div {
        background: #f05624;
    }

    #topMenuNav > ul > li {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #cccccc;
    }

    #topMegaMenu {
        background: #f3f3f3;
        position: relative;
        z-index: 9;
        width: 100%;
        margin: 0;
        top: 0;
        left: 0;
        padding: 0;
        border: none;
    }

    #topMegaMenu > li {
        width: 100%;
        margin: 0;
        padding: 0 10px;
        border-top: 1px solid #cccccc;
    }

    #topMenuNav > ul > li > a {
        line-height: 40px;
        padding: 0 10px;
    }

    #topMegaMenu > li:last-child > ul > li:last-child {
        border-bottom: none;
    }

    #clickAllProduct > span {
        float: right;
        font-weight: bold;
        font-size: 24px;
    }
}

/* # Top Menu */

/* # Header */

/* Product List page */
/* left Menu - category page */
.titleLeftSidebar {
    padding: 7px 15px;
    border-bottom: 3px solid #313131;
    font-size: 18px;
    font-weight: bold;
}

#leftMenuUl {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #ececec;
}

#leftMenuUl ul {
    padding: 5px 0 0 0;
    list-style: none;
    clear: both;
}

/* #leftMenuUl ul.submenu {
    display: none;
} */

#leftMenuUl li.open ul.submenu {
    display: block;
}

#leftMenuUl li {
    list-style: none;
    clear: both;
    padding: 8px 0;
    margin: 0;
    overflow: hidden;
}

#leftMenuUl > li {
    border-bottom: 1px solid #dddddd;
    padding-left: 15px;
    padding-right: 15px;
}

#leftMenuUl a {
    color: #474747;
    text-decoration: none;
    width: 100%;
    display: block;
    max-width: 100%;
}

#leftMenuUl li > a {
    font-weight: bold;
}

#leftMenuUl li .submenu li > a {
    font-weight: normal;
}

#leftMenuUl > li > a {
    max-width: calc(100% - 40px);
    text-transform: uppercase;
    color: #1ca1ac;
}

#leftMenuUl .submenu li a {
    padding: 0 0 0 20px;
}

#leftMenuUl a:hover {
    color: #f05624 !important;
    text-shadow:0 0 1px;

}

#leftMenuUl li.active > a {
    color: #f05624 !important;
    text-shadow:0 0 1px;
}

#leftMenuUl li.has-active > ul.submenu {
    display: block;
}

#leftMenuUl span.dropLeftMenu {
    display: inline-block;
    width: 20px;
    height: 16px;
    color: #000000;
    font-size: 30px;
    line-height: 14px;
    float: right;
    cursor: pointer;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    #leftMenuUl li.has-active > ul.submenu {
        display: none;
    }

    .page-layout-2columns-left .sidebar-main {
        width: 100%;
        padding: 0;
    }

    #leftMenuUl {
        background: #e1e1e1;
    }

    #leftMenuUl ul {
        padding: 0;
    }

    #leftMenuUl a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #leftMenuUl li {
        padding: 0;
        border-bottom: 1px solid #c2c2c2;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #leftMenuUl li.level1.parent ul.submenu {
        background: #474747;
    }

    #leftMenuUl li.level1.parent ul.submenu a {
        color: #ffffff;
    }

    #leftMenuUl li.last {
        border-bottom: none;
    }

    #leftMenuUl ul.level0.submenu {
        border-top: 1px solid #c2c2c2;
    }

    #leftMenuUl ul.level1.submenu ul.submenu {
        border-top: 1px solid #c2c2c2;
    }

    #leftMenuUl span.dropLeftMenu {
        margin: 7px 0 0 10px;
    }

    #leftMenuUl li.active > a {
        color: #f05624 !important;
    }
}

/* # left Menu - category page */
.products {
    margin: 0;
}

.products .product-items {
    margin: 0 -10px !important;
    overflow: hidden;
}

.products-grid .product-item {
    width: 33.3333% !important;
    padding: 10px !important;
    margin: 0 !important;
}

.products-list .product-item-info {
    width: 100%;
    text-align: center;
    display: table;
}

.products-list .product-item {
    width: 50%;
    padding: 10px !important;
    margin: 0;
    display: inline-block;
}

.products-list .product-item-photo {
    padding: 0 20px 0 0;
    vertical-align: top;
    margin: 0;
    width: 40%;
    display: table-cell;
}

.products.wrapper .product-item-photo .product-image-container {
    max-width: 100%;
    width: 100% !important;
}

.products-list .product-item-details {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}

.page-products .product-item-info {
    width: 100%;
    text-align: center;
}

.page-products .product-item-name > a {
    color: #999999
}

.product-image-photo {
    width: 100%;
}

/* Toolbar */
.toolbar-products {
    padding: 0;
}

.toolbar-products .pages, .products.wrapper ~ .toolbar .pages {
    float: right;
    display: inline-block;
}

.toolbar-sorter {
    float: left;
    padding: 3px 20px 0 0;
}

.page-products .toolbar .limiter, .products.wrapper ~ .toolbar .limiter {
    float: left;
    display: inline-block;
    padding: 3px 0 0;
}

.limiter-options {
    width: auto;
    margin: 0 5px;
    padding: 0;
}

#toolbar-amount {
    padding: 6px 20px 0 0;
}

.pages a.page {
    color: #444444 !important;
    font-weight: normal;
}

.pages strong.page, .pages a.page:hover {
    color: #f05624;
    font-weight: normal;
    font-size: 14px;
}

.pages .action {
    border: none;
    margin: 0 !important;
}

.pages .action.next:before {
    -webkit-font-smoothing: antialiased;
    color: #444444;
    content: '';
    vertical-align: middle;
    text-align: center;
    width: 0;
    height: 0;
    margin: -2px 0 0;
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid;
}

.pages .action.previous:before {
    -webkit-font-smoothing: antialiased;
    color: #444444;
    content: '';
    vertical-align: middle;
    text-align: center;
    width: 0;
    height: 0;
    margin: -2px 0 0;
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 7px solid;
}

.pages .items {
    letter-spacing: 2px;
}

.pages .item {
    font-size: 14px;
}

#breakToolbar {
    display: none;
    padding-bottom: 20px;
}

@media only screen and (max-width: 1120px) {
    #breakToolbar {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .products-grid .product-item {
        width: 50% !important;
    }
}

/* # Product List page - category page */

/* Product detail page */
.catalog-product-view .menuLeftSidebar {
    float: left;
    width: 25%;
    padding: 0 20px 0 0;
}

.catalog-product-view .column.main {
    width: 75%;
    float: right;
}

.catalog-product-view #maincontent .mediaDP {
    width: 40%;
    float: left;
    padding: 0 20px 0 0;
}

.catalog-product-view #maincontent .contentDP {
    width: 60%;
    float: right;
}

.descriptionBlock, .sliderDPWrapper {
    width: 100%;
    border-top: 1px solid #cccccc;
    padding: 20px 0;
    clear: both;
}

.headingDP {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}

.desData {
    width: 100%;
    margin: 0;
    padding: 20px 0 0;
}

.innerSliderDP img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.innerSliderDP p {
    color: #666666;
    padding: 10px 0 0;
    margin: 0 0 20px;
}

.catalog-product-view .page-title-wrapper {
    display: block;
}

.catalog-product-view .page-title-wrapper .page-title {
    margin: 0 0 10px;
    color: #f05624;
}

/* media */
.fotorama__stage {
    margin: 0 0 20px;
}

.fotorama__stage__frame .fotorama__img {
    width: 100%;
}

/* Dot */
.fotorama__nav--dots {
    width: 100% !important;
    height: 50px !important;
}

.fotorama__nav--dots .fotorama__nav__frame {
    width: 30px;
}

.fotorama__dot {
    border: 1px solid #777777;
    display: block;
    left: 0;
    position: relative;
    top: 20px;
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/* Controller */
.fotorama__arr .fotorama__arr__arr {
    background: none;
    position: absolute;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

.fotorama__arr--prev .fotorama__arr__arr {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fotorama__arr--next .fotorama__arr__arr {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

/* Full screen */
.fotorama--fullscreen {
    background: rgba(0, 0, 0, 0.7);
}

.fotorama--fullscreen .fotorama__wrap {
    width: 100%;
    height: 100%;
}

.fotorama--fullscreen .fotorama__stage {
    width: 100% !important;
    height: 100% !important;
}

.fotorama--fullscreen .fotorama__stage__frame .fotorama__img {
    width: auto;
    max-width: 80%;
    max-height: 90%;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
    background: url('/pub/media/images/icon/white.close.png') no-repeat center;
    background-size: cover;
    top: 20px;
    right: 22px;
}

@media only screen and (max-width: 767px) {
    .catalog-product-view #maincontent .mediaDP,
    .catalog-product-view #maincontent .contentDP {
        width: 100%;
        padding: 0;
    }
}

/* tab content */
.tabsWrapper a {
    display: block;
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    background: #eeeeee;
    color: #ed5621;
    float: left;
}

.tabsWrapper a:hover, .tabsWrapper a.active {
    background: #ed5621;
    color: #ffffff;
}

.tabContent {
    display: none;
}

/* simple product */
#product-options-wrapper .field:not(.choice) {
    margin-bottom: 20px;
}

#product-options-wrapper .textarea {
    margin-bottom: 0;
}

.finalUnitPrice {
    font-size: 24px;
    color: #000000;
}

.finalUnitPrice > span {
    color: #ed5621;
}

.catalog-product-view .box-tocart .field.qty,
.catalog-product-view .box-tocart .field.qty .control,
.catalog-product-view .box-tocart .field.qty .label {
    display: inline-block;
    margin: 0;
}

.catalog-product-view .box-tocart .field.qty .label {
    padding: 0 7px 0 0;
}

.catalog-product-view .box-tocart .actions {
    display: inline-block;
    padding: 0;
}

/* Review */
#reviews {
    padding: 20px 0 0;
}

@media only screen and (max-width: 767px) {
    #reviews {
        padding: 10px;
    }
}

/* # Product detail page */

/* My account page */
body.account .column.main {
    background: #fafafa;
    padding: 10px;
    margin: 0 0 40px;
}

.block.account-nav {
    background: #fafafa;
    padding: 0;
    margin: 0;
}

.block.account-nav .title {
    padding: 15px 10px;
    margin: 0;
    text-align: center;
    background: #efefef;
    text-transform: uppercase;
    color: #f05624;
}

nav.account-nav li {
    padding: 10px;
    border-bottom: 2px dotted #bbbbbb;
}

nav.account-nav li > a {
    text-decoration: none;
    color: #bbbbbb;
    width: 100%;
    display: block;
}

nav.account-nav li > a:hover {
    color: #f05624;
}

nav.account-nav li.current strong {
    color: #f05624;
}

.block-collapsible-nav .item a {
    color: #777777;
}

.block-collapsible-nav .item a:hover {
    background: #e8e8e8;
    color: #ed5621;
}

.account.sales-order-view .page-title-wrapper {
    display: block;
}

/* # My Account page */

/* Cart page */
.cart-container2 {
    margin-right: -10px;
    margin-left: -10px;
}

.checkout-cart-index #maincontent {
    background: #fafafa;
}

.topSectionCP {
    color: #444444;
    font-size: 16px;
    /*padding: 0 0 10px;*/
    overflow: hidden;
}

.topSectionCP > b {
    float: left;
    padding-top: 25px;
}

.topSectionCP > a {
    float: right;
    font-size: 18px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color: #ed5621;
    position: relative;
    padding: 12px 105px;
}

.topSectionCP a > span {
    position: absolute;
    /*width: 20px;
    height: 20px;
    background: url(/pub/media/images/icon/right_arrow_cart.png) no-repeat center;*/
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.checkout-success .order-number {
    font-size: 25px;
}

.headingCartPage {
    background: #1da1ad;
    color: #ffffff;
    padding: 10px;
    margin: 0 0 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.checkout-cart-index .cart.main.actions {
    text-align: right;
    margin: 15px 0 0;
}

.checkout-cart-index .cart.main.actions > button {
    background: #1ca1ac;
    color: #ffffff;
    border-radius: 0;
    border: 0;
    margin: 0 0 7px 7px !important;
    display: inline-block !important;
}

.checkout-cart-index .block {
    margin: 0
}

.checkout-cart-index .block > .title {
    margin: 0;
    padding: 0 0 30px;
}

.checkout-cart-index .block > .title strong {
    border-bottom: 2px solid #1da1ad;
    padding: 0 0 5px;
}

#shipping-zip-form .field, #block-discount .field {
    margin: 0;
    padding: 0 0 20px;
}

#shipping-zip-form .label, #block-discount .label {
    width: 100%;
    text-align: left;
    padding: 0 0 10px;
}

#shipping-zip-form .control, #block-discount .control {
    width: 100%;
}

#shipping-zip-form .label > span {
    padding: 0;
    text-align: left;
}

#block-discount .actions-toolbar {
    margin: 0;
}

#form-validate {
    width: 100%;
}

#shopping-cart-table {
    border: 1px solid #cccccc;
}

#shopping-cart-table > thead {
    background: #f1f1f1;
}

#shopping-cart-table td {
    vertical-align: middle;
}

.colTb.qty {
    width: 70px;
}

.colTb.subtotal, .colTb.price {
    width: 150px;
}

.align-center {
    text-align: center !important;
}

.itemCartCol .product-item-photo {
    float: left;
}

.itemCartCol .product-item-details {
    float: right;
    width: calc(100% - 110px);
}

.itemCartCol .actionsBar {
    clear: both;
    width: 100%;
}

.itemCartCol .titCartCol {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

a.showDetailCartCol {
    padding: 0 0 15px;
    display: block;
}

.actionsBar > .action {
    display: block;
    background: #1ca1ac;
    margin: 5px 8px 0 0;
    padding: 5px 15px;
    float: left;
    color: #ffffff;
}

#cart-totals ~ .checkout-methods-items button.action.primary.checkout {
    background: #f05624;
}

#cart-totals {
    border: none;
    padding: 0;
}

.checkout-cart-index #empty_cart_button:before {
    -webkit-font-smoothing: antialiased;
    font-size: 33px;
    line-height: 16px;
    color: inherit;
    content: '\e604';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: middle;
    font-weight: normal;
    overflow: hidden;
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .colTb.qty {
        width: 70px;
    }

    #shopping-cart-table td {
        padding: 5px;
    }

    .colTb.subtotal, .colTb.price {
        width: 70px;
    }

    .itemCartCol .product-item-details {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .colTb.price, #shopping-cart-table .col.price.align-center {
        display: none;
    }

    #shopping-cart-table td span {
        font-size: 14px;
    }

    .checkout-cart-index .cart.main.actions {
        text-align: center;
    }

    .checkout-cart-index .cart.main.actions > button {
        margin: 0 auto 7px !important;
    }
}

@media only screen and (max-width: 400px) {
    .actionsBar > .action {
        width: 100%;
        text-align: center;
    }
}

/* # Cart page */

/* Upload page cms */
#uploadCMSpage p {
    margin: 0;
    padding: 0 0 15px;
}

#uploadCMSpage p.tit {
    font-size: 20px;
    font-weight: bold;
}

/* # Upload page cms */