<!--@subject Hurry up ({{var customer.name}})! @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%name," name=$customer.getName()}}</p>
            <p>
                {{trans "Some of your points will expire soon!"}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans "Hurry up and use your points before expiry date."}}</h1>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{trans "Some of your points (%points points) will expire soon." points=$points |raw}}<br />
            {{trans "You have %days day(s) to use your points, otherwise you will loose them." days=$days |raw}}<br />
            {{trans "Visit us on our store in order to use your points."}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
